config.js
gamelist.json
node_modules
*.log
.treasures
a.*
*.swp
prod.js
tmp-*png
games/frootball/sp
games/frootball/achievements.json
throwaway.js
out.png
generated
tags
throwaway.js
*.log
*.log*
*.csv
*ApplicationEvent
